.ami_form_card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: 200px;
    
    margin: 5px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.ami_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    margin: 0;
    padding: 0;
}

.ami_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ami_hide {
    display:none;
}

.ami_show {
    display:block;
}

.ami_attunement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ami_attunement_text {
    font-size: 0.8em;
    color: 777777;
}

.ami_attunement_input {
    width: min-content;
}

.ami_description {
    margin-top: 1em;
    width: 100%;
}

.ami_description_input {
    width: 100%;
    height: 100px;
    overflow-y: scroll;
}

.ami_submit {
    width: 100%;
    margin-top: 1em;
}

.ami_submit_button {
    width: 100%;
}

.mi_list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    flex-wrap: wrap;
}

.mi_card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 200px;    
    margin: 16px 5px;
    padding: 16px;
    background-color: white;
    border-radius: 5px;

    cursor: pointer;
}

.mi_title {
    font-size: 1em;
    font-weight: 500;
}

.mi_type {
    font-size: 0.8em;
    color: #777777;
}

.mi_body {
    margin-top: 1em;
    font-size: 0.8em;
    max-height: 200px;
    overflow-y: scroll;
}
