
.mi-card-container {
    width: 100%;
    max-width: 400px;
    margin: 8px 0;
}

.mi-card-cursor {
    cursor: pointer;
}

.mi-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 16px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px #00000030;

}

.mi-title {
    font-size: 1em;
    font-weight: 500;
}

.mi-type {
    font-size: 0.8em;
    color: #777777;
}

.mi-body {
    margin-top: 1em;
    font-size: 0.8em;
    max-height: 200px;
    overflow-y: hidden;
}


@media only screen and (min-width: 1000px) {
    .mi-card-container {
        margin: 8px 8px;
    }
}