.mil-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mil-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: no-wrap;
    width: 100%;
    margin: 0;
    padding: 4px;
}
.mil-search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 8px 0;
}

.mil-search {
    display: flex;
    flex-direction: row;
    padding: 16px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px #00000030;
    z-index: 5;
}

.mil-search input {
    width: fill;
    margin: 0px;
    margin-right: 8px;
}

.mil-search-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -8px 8px 8px 8px;
    padding: 8px;
    background-color: #f7f3d2;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 3px #00000030;
    z-index: 0;
}

.mil-search-info button {
    margin-top: 8px;
}

.mil-search-info span {
    width: 100%;
}

@media only screen and (min-width: 1000px) {
    .mil-body {
        align-items: start;
    }
    .mil-content {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        justify-content: start;
    }
    .mil-search-container {
       margin: 8px;
    }

}