.profile-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.profile-card {
    justify-content: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-title {
    font-weight: bold;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.profile-dividers {
    text-align: start;
    color: #181818;
    border-bottom: 2px solid #00000020;
    margin-bottom: 4px;
    padding-left: 3px;
}

.form-container {
    padding-top: 5px;
    margin: 20px
}
.profile-form {
    width: 100%;
}
.form-label {
    text-align: start;
}

.form-group {
    padding-top: 10px;
}

.form-submit {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.submit-btn {
    background-color: green;
}

.submit-btn:disabled{
    background-color: darkgray;
    color: grey;
    pointer-events: none;
}

input {
    padding: 5px;
    margin: 2px;
}

