/* Header.css */
.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000;
  color: white;
}

.logo {
  margin: 0;
  font-size: 1.5em;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-settings {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.user-settings:hover {
  text-shadow: 0 0 0.1em #fff;
  background-color: #353637
}
  
.user-menu {
  z-index: 1000;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-menu-item {
  padding: 5px 10px;
  cursor: pointer;
  color: black;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.nav-item:hover {
  text-shadow: 0 0 0.1em #fff;
  background-color: #353637
}

.sub-menu{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sub-menu.expand {
  display: block;
}

.sub-menu.collapse {
  display: none;
}

.logout-button {
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c0392b;
}
