/* Header.css */
.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: white;
  color: black;
  box-shadow: 0 0 5px 1px #00000050;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.logo-img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-settings {
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.user-settings:hover {
  text-shadow: 0 0 0.1em #00000030;
}
  
.user-menu {
  z-index: 1000;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-menu-item {
  padding: 5px 10px;
  cursor: pointer;
  color: black;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.nav-item:hover {
  text-shadow: 0 0 0.1em #00000030;
}

.nav-link {
  text-decoration: none;
  color:black;
}

.sub-menu{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sub-menu.expand {
  display: block;
}

.sub-menu.collapse {
  display: none;
}

.logout-button {
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c0392b;
}

.user-names {
  display:fex;
  flex-direction: column;
}
.user-names .user-displayname {
  font-size: 1.2em;
  font-weight: bold;
  text-align: end;
}
.user-names .user-email {
  font-size: 0.8em;
  color: #00000080;
  text-align: end;
}
.user-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-left: 10px;
}